.about-section-bg {
  padding: 100px 0;
}

.image-placeholder {
  background-color: #ccc;
  height: 300px;
  width: 100%;
  max-width: 100%;
}

.aboutus-shape {
  background-color: #00AC47;
  height: 220px;
  width: 12px;
}

/*SCREEN SIZE 576 */
@media (max-width: 576px) {
  .about-section-bg {
    padding: 40px 0;
    /* Adjust padding for mobile */
  }

  .image-placeholder {
    height: 300px;
  }
}
