.about-section-bg {
  padding: 100px 0;
}

.image-placeholder {
  background-color: #ccc;
  height: 300px;
  width: 100%;
  max-width: 100%;
}

.aboutus-shape {
  background-color: #00AC47;
  height: 200px;
  width: auto;
}

/* SCREEN SIZE 991 */

@media (max-width: 991px) {
  .mobile-margin {
      margin-top: 20px;
      display: flex;
      text-align: center;
      justify-content: center;
  }

  .aboutus-shape {
    display: none;
  }
}

/*SCREEN SIZE 576 */

@media (max-width: 576px) {
  .about-section-bg {
    padding: 40px 0;
    /* Adjust padding for mobile */
  }

  .image-placeholder {
    height: 300px;
  }
}

.about-image-showUp {
  animation: showUp 0.5s ease forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.about-text-slideUp {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-timeline: view();
  animation-range: entry 20%;
}
