.about-section-bg {
  height: 400px;
}

.about-div {
  max-width: 550px;
  margin-right: 72px;
}

.about-shape {
  background-color: #00AC47;
  height: 100px;
  width: 10px;
}

.image-placeholder {
  background-color: black;
  width: 700px;
  height: 320px;
  margin-right: 30px;
}