.footer-bg {
  background: linear-gradient(to bottom, rgb(0, 58, 72) 0%, rgb(0, 29, 40) 100%);
  padding: 60px 0 60px 0;
}

.footer-attribute {
  font-size: 12px;
  margin-top: 60px;
}

.footer-images {
  zoom: 1.3;
  margin-right: 8px;
}

.text-offwhite {
  color: rgb(221, 221, 221);
}

.footer-text {
  text-align: center;
  margin-top: 48px;
}
/*SCREEN SIZE 991 */

@media (max-width: 991px) {
  .footer-text {
    margin-top: 18px;
    text-align: left;
  }
}