.mission-section-bg {
  background-color: rgba(0, 43, 54, 0.05);
  padding: 140px 0 60px 0;
}

.image-placeholder2 {
  background-color: #ccc;
  height: 300px;
  width: 100%;
  max-width: 100%;
}

.mission-shape {
  background-color: #0066DA;
  height: 200px;
  width: auto
}

.mission-image-showUp {
  animation: showUp 0.5s ease forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.mission-text-slideUp {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-timeline: view();
  animation-range: entry 20%;
}

/* SCREEN SIZE 992 */

@media (max-width: 992px) {
  .mobile-margin {
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .mission-shape {
    display: none;
  }
}

/*SCREEN SIZE 576 */

@media (max-width: 576px) {
  .mission-section-bg {
    padding: 40px 0;
    /* Adjust padding for mobile */
  }

  .image-placeholder2 {
    height: 300px;
    /* Reduce height on mobile */
  }
}

