.transition-navbar {
    transition: background-color 0.3s ease, color 0.3s ease;
    position: fixed;
    width: 100%;
    z-index: 1020;
}
/* transparent navbar when at the hero */
.navbar-hidden {
    background-color: transparent;
}

.navbar-hidden .nav-link {
    color: white;
}

/*when visible*/
.navbar-visible {
    background-color: #003d4a !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-visible .nav-link {
    color: rgb(212, 212, 212);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: #00cd56;
}

.navbar-border {
    height: 5px;
    width: 100%;
    position: fixed;
    top: 90px;
    background: linear-gradient(270deg, #008538, #91b429, #008538);
    background-size: 400% 400%;
    animation: gradientAnimation 3s ease infinite;
    z-index: 1020;
}

.navbar-hidden .nav-link.active {
    color: rgb(212, 212, 212);
}

.navbar-visible .nav-link.active {
    color: rgb(212, 212, 212);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/* Media query for responsiveness */
@media (max-width: 991px) {
    .nav-link {
        margin-top: 30px;
    }

    .nav-link:last-child {
        margin-bottom: 16px;
    }

    .contactus-button {
        display: none;
    }
}

@media (min-width: 991px) {
    .fs-7 {
        font-size: 14px;
    }
    .contactus-button {
        font-size: 14px;
    }
}