.transition-navbar {
    transition: background-color 0.3s ease, color 0.3s ease;
    position: fixed;
    width: 100%;
    z-index: 1020;
}

.navbar-hidden {
    background-color: transparent;
    color: white;
}

.navbar-hidden .nav-link {
    color: white;
}

.navbar-visible {
    background-color: rgb(255, 255, 255);
    color: black;
}

.navbar-visible .nav-link {
    color: black;
}

.nav-link:hover {
    color: #007bff;
    /* Change this to your desired hover color */
}

/* Position the border directly below the navbar */
.navbar-border {
    height: 5px;
    width: 100%;
    position: fixed;
    top: 90px;
    /* Adjust to 0 to place at the bottom of the navbar */
    background: linear-gradient(270deg, #00AC47, #A4CF25, #00AC47);
    background-size: 400% 400%;
    animation: gradientAnimation 3s ease infinite;
    z-index: 1020;
    /* Ensure it stays on top */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/* Media query for responsiveness */
@media (max-width: 991px) {
    .nav-link {
        margin-top: 30px;
    }

    .nav-link:last-child {
        margin-bottom: 16px;
    }
}