.partners-bg {
  padding: 50px 0 30px 0;
  position: relative;
  display: flex;
  /* Added for centering content */
  align-items: center;
  /* Vertically center the content */
  justify-content: center;
  /* Horizontally center the content */
}

.carousel-image {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  height: auto;
  padding-bottom: 70px;
}

.carousel-image2 {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  padding-bottom: 70px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #1d1d1d;
  opacity: 0.2;
  margin: 0 6px;
}

.carousel-indicators .active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1d1d1d;
  opacity: 0.6;
}