.partners-bg {
  padding: 50px 0;
  position: relative;
  display: flex;
  /* Added for centering content */
  align-items: center;
  /* Vertically center the content */
  justify-content: center;
  /* Horizontally center the content */
}

.carousel-image {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  height: auto;
  padding-bottom: 40px;
}

.carousel-image2 {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  padding-bottom: 40px;
}

/*SCREEN SIZE 767 */

@media (max-width: 767px) {

}