/*background*/
.services-section-bg {
  background-color: #002B36;
  position: relative;
  padding: 60px 0;
  overflow: hidden;
}

.background-img {
  position: absolute;
  height: 100%;
}

.lottie-animation2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.65;
}

.globe-shape {
  opacity: 0.1;
  zoom: 1;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  margin: 0 8px;
  /* height: 400px; */
}

/*card*/
.card-services {
  padding: 20px;
  background-color: transparent;
  border: solid 1px;
  border-radius: 6px;
  border-color: #DCDCDC;
  height: 440px;
  overflow: hidden;
  transition: height 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.card-services:hover {
  /*height: 400px;*/
  background-color: #ebebeb;
}

.card-services .service-icon-hover {
  display: none;
}

.card-services:hover .service-icon {
  display: none;
}

.card-services:hover .service-icon-hover {
  display: block;
}

/*texts*/
/*
.hidden-text {
  display: none;
}
  */
.card-services:hover .hidden-text {
  display: block;
}
.service-text {
  color: white;
}

.service-text:hover {
  color: black;
}

.service-text:hover .desc {
  color: rgb(45, 45, 45);
}

.desc {
  font-size: 14px;
}

@media (max-width: 991px) {
  .card-services {
    height: 500px;
  }
}

@media (max-width: 576px) {
  .card-services {
    padding: 20px;
    background-color: transparent;
    border: solid 1px;
    border-radius: 6px;
    border-color: #DCDCDC;
    height: 320px;
    overflow: hidden;
  }

    .desc {
      font-size: 16px;
    }
  
  .card-services .hidden-text {
    display: block;
  }
}