.value-section-bg {
  height: 280px;
  background-color: rgba(0, 43, 54, 1);
  background-size: cover;
}

.lottie-animation {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: auto;
  opacity: 0.8;
}

.image-width {
  position: absolute;
  width: 100%;
}

.card-div {
  justify-content: space-evenly;
  margin-bottom: -15vh;
}

.title-text {
  font-size: 36px;
  justify-content: center;
  font-weight: 500;
}

.icon-container {
  margin-top: 32px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-text {
  margin: 24px 0;
  font-size: 18px;
  font-weight: 500;
}

.value-card {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  background-color: white;
  border-radius: 10px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.value-icon {
  width: 54px;
  height: auto;
}

.value-icon-hover {
  width: 74px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Add media queries if needed */
@media (max-width: 992px) {
  .value-section-bg {
    height: 220px;
  }

  .value-card {
    margin-top: 30px;
  }

  .value-icon {
    width: 42px;
  }
  .value-icon-hover {
    width: 58px;
  }
}

@media (max-width: 767px) {
  .value-section-bg {
    height: 400px;

  }

  .value-card {
    margin-top: 50px;
  }

  .mobile {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .lottie-animation {
    position: absolute;
    bottom: 0;
    left: -140%;
    width: 360%;
    height: auto;
    opacity: 0.8;
  }

  .value-section-bg {
    height: auto;
  }

  .title-text {
    margin-bottom: 40px;
  }

  .value-card {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .card-div {
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
/* Show GIF on hover */
  .value-card:hover .value-icon {
    opacity: 0;
  }

  .value-card:hover .value-icon-hover,
  .value-card:hover .value-icon-hover2 {
    opacity: 1;
  }
}

.card-ani {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 10%;
}
