.vision-section-bg {
  padding: 60px 0;
}

.vision-shape {
  background-color: #00AC47;
  height: 180px;
  width: 12px;
}

.image-placeholder3 {
  height: 300px;
  width: 100%;
  max-width: 100%;
}

/* SCREEN SIZE 991 */

@media (max-width: 991px) {
  .vision-section-bg {
    padding: 20px 0 60px 0;
  }

  .vision-shape {
    display: none;
  }
}

/*SCREEN SIZE 992 */
@media (max-width: 992px) {
  .vision-section-bg {
    padding: 20px 80px;
  }

  .image-placeholder3 {
    height: 100%;
  }
}

/*SCREEN SIZE 576 */
@media (max-width: 576px) {
  .vision-section-bg {
    padding: 10px 0 40px 0;
  }
}