.vision-section-bg {
  padding: 60px 0;
}

.vision-shape {
  background-color: #00AC47;
  height: 200px;
  width: auto;
}

.image-placeholder3 {
  background-color: #ccc;
  height: 300px;
  width: 100%;
  max-width: 100%;
}

/* SCREEN SIZE 991 */

@media (max-width: 991px) {
  .mobile-margin {
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .vision-shape {
    display: none;
  }
}

/*SCREEN SIZE 576 */

@media (max-width: 576px) {
  .mission-section-bg {
    padding: 40px 0;
    /* Adjust padding for mobile */
  }

  .image-placeholder2 {
    height: 300px;
    /* Reduce height on mobile */
  }
}