.mission-section-bg {
  background-color: rgba(0, 43, 54, 0.05);
  padding: 140px 0 60px 0;
}

.image-placeholder2 {
  height: 300px;
  width: 100%;
  max-width: 100%;
}

.mission-shape {
  background-color: #0066DA;
  height: 180px;
  width: 12px;
}

/*SCREEN SIZE 992 */
@media (max-width: 992px) {
  .mission-section-bg {
    padding: 140px 80px 40px 80px;
  }

  .image-placeholder2 {
    height: 100%;
  }
}

/*SCREEN SIZE 576 */
@media (max-width: 576px) {
  .mission-section-bg {
    padding: 40px 0;
  }
}

