@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900');

body {
  font-family: 'Montserrat', Arial;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.text-accent-0 {
  color: #00D457;
}

.justify {
  text-align: justify;
}

.fw-bold500 {
  font-weight: 500;
}

.fw-bold600 {
  font-weight: 600;
}

.text-margin-left {
  margin-left: 40px;
}

.text-margin-right {
  margin-right: 80px;
}

.inline-container {
  display: flex;
  /* Use flexbox */
  justify-content: space-between;
  /* Space them out evenly */
  align-items: center;
  /* Center them vertically */
}

.inline-container>* {
  flex: 1;
  /* Optional: allows components to take equal space */
  margin: 10px;
  /* Optional: adds spacing between components */
}

/*Fill color on button*/
.primary-button {
  border: solid 1px;
  border-color: #00AC47;
  background-color: #00AC47;
}

/*Only the button border has color*/
.secondary-button {
  border: solid 1px;
  border-color: #00AC47;
  background-color: transparent;
}

.primary-button:hover,
.secondary-button:hover {
  border: solid 1px;
  border-color: #00c050;
  background-color: #00c050;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.1;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@media (max-width: 992px) {
  .mobile-margin {
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .aboutus-shape, .vision-shape, .mission-shape {
    display: none;
  }

  .text-margin-left {
    margin-left: 0;
  }

  .text-margin-right {
    margin-right: 0;
  }
}

/*not working*/
.primary-button:active,
.secondary-button:active {
  background-color: #02aa48;
}