@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');

body {
  font-family: 'Montserrat', Arial;
  /* Set the global font */
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
  background-color: #FFFFFF;
}

.text-accent-0 {
  color: #00D457;
}

.justify {
  text-align: justify;
}

.fw-bold500 {
  font-weight: 500;
}

.fw-bold600 {
  font-weight: 600;
}

.inline-container {
  display: flex;
  /* Use flexbox */
  justify-content: space-between;
  /* Space them out evenly */
  align-items: center;
  /* Center them vertically */
}

.inline-container>* {
  flex: 1;
  /* Optional: allows components to take equal space */
  margin: 10px;
  /* Optional: adds spacing between components */
}

/*Fill color on button*/
.primary-button {
  border: solid 1px;
  border-color: #00AC47;
  background-color: #00AC47;
}

/*Only the button border has color*/
.secondary-button {
  border: solid 1px;
  border-color: #00AC47;
  background-color: transparent;
}

.primary-button:hover,
.secondary-button:hover {
  border: solid 1px;
  border-color: #00c050;
  background-color: #00c050;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(150px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showUp {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }

  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes showUp2 {
  from {
    opacity: 0;
    clip-path: inset(100% 0 0 100%);
  }

  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.1;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

/*not working*/
.primary-button:active,
.secondary-button:active {
  background-color: #02aa48;
}